#places {
  .eventOption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    &>div {
      display: flex;
      align-items: center;
      padding: 0;

      .searchEvent {
        position: relative;

        input {
          border-radius: 28px;
          border: 1px solid #8997AB;
          font-size: 1.3rem;
          line-height: 1.7rem;
          padding: 5px 25px 5px 15px;

          &:focus {
            outline: -webkit-focus-ring-color auto 0px;
          }
        }

        mat-icon {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
          font-size: 1.8rem;
          width: 1.8rem;
          height: 1.8rem;
          color: #8997AB;
        }
      }

      .addEvent {
        margin-right: 15px;

        p {
          cursor: pointer;
          font-size: 1.3rem;
          line-height: 1.7rem;
          color: #0076FF;
          margin: 0;
          font-weight: 600;
          display: flex;
          align-items: center;

          mat-icon {
            margin-left: 5px;
          }
        }
      }

      .refreshList {
        height: 24px;
        width: 24px;
        background-color: #0076FF;
        border-radius: 24px;
        color: #fff;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 15px;

        span {
          font-size: 1.6rem;
        }
      }
    }
  }

  .listTraining {
    mat-table {
      background: transparent;

      .mat-row {
        position: relative;
        transition: all 0.3s ease;

        &:hover {
          background-color: #F1F5F8;
        }
      }

      .mat-row-link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-left: 20px;
      }

      .mat-header-cell.cdk-header-cell {
        color: #8997AB;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.8rem;
      }

      // .mat-row.cdk-row {
      //   border-bottom-width: 0;
      // }

      .mat-cell.cdk-cell {
        color: #374052;
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }

    mat-paginator {
      background: transparent;
    }
  }


  .mat-column-remote {
    max-width: 100px;
    justify-content: center;
  }


  .mat-column-action {
    padding-right: 0px;
    max-width: 50px;

    button,
    a {
      min-width: 35px;
      margin: 0 3px;
      padding: 0;
    }
  }
}
