form {
  mat-form-field {
    width: 100%;
    font-size: 1.6rem;
  }

  mat-checkbox {
    padding-bottom: 10px;
    float: left;
    width: 100%;

  }
}

mat-checkbox {
  .mat-checkbox-layout {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;

    .mat-checkbox-inner-container {
      margin-top: 5px;
    }

    p {
      color: #313A4B;
    }
  }

  .mat-checkbox-label {
    white-space: normal;
    width: 100%;
  }
}
